.NewRestaurant{
	flex:1;
	width:100%;
	justify-content: center;
	display: flex;
	margin: 0 1%;
}
.NewRestaurant input{
	width:70%;
	padding:1%;
	font-size:20px;

}
.NewRestaurant button{
	width:10%;
	padding:1%;
	font-size: 16px;
	background-color:lightblue;
	overflow: hidden;
	border:none;
	text-align: center;
}