.SignInButton{
  font-size: 24px;
  background-color:#D6413D;
  margin:0 auto;
  display: flex;
  justify-content: center;
  border: none;
  padding:1.5% 10%;
  color:white;
}
.SignInButton:hover{
  background-color:rgb(216, 93, 91);
}