.Application {
  margin: auto;
  display:flex;
  flex-direction: column;
}
.Application--title{
  display:flex;
  justify-content: center;
}
.Application-SignedOn{
  display:flex;
  flex-direction: column;
}

.Application--SearchBar{
  display:flex;
  flex-direction: row;
  align-self: stretch;
}
.Application--Body{
  display: flex;
  flex-direction: row;
}